h1 {
  font-family: monospace;
  color: white;
  font-size: 31px;
  padding-top:29px
}

.navbar ul {
  list-style: none;
  padding: 0;
  margin-bottom: 0px;

}
 .navbar li {
   display: inline-block
 }
.navbar {
  background-color: rgba(228, 200, 200, 0.651);
  border-bottom: solid 5px rgba(190, 171, 171, 0.137)
}

.navbar a {
  font-family: monospace;
  font-size: 20px;
  color: white;
  margin-bottom: 20px;
  padding-right: 20px
}

.material-icons {
  color: white
}

.searchbox {
  text-align: right;
  margin-top: 50px
}

img {
  height:100px;
  width:140px;
  position: relative;
  right: 5px
}
