.links h1 {
  color: white;
  font-weight: bold;
  font-size: 33px;
  padding-top:29px
}

.navbar ul {
  list-style: none;
  padding: 0;
  margin-bottom: 0px;
}

.navbar ul li i {
  font-size: 17px;
}

.navbar li {
  display: inline-block;
  margin-right: 10px;
}

.navbar {
  background-color: rgb(193, 17, 56);
  height :50px 
}

.navbar a {
  font-size: 20px;
  color: white;
  margin-bottom: 20px;
  padding-right: 20px
}

.material-icons {
  color: white
}

.searchbox {
  text-align: right;
  margin-top: 0px;
  
}

.searchbox form {
  float:right;
}

.searchbox input[type='text'] {
  margin-right:10px;
}

img {
  height:100px;
  width:140px;
  position: relative;
  right: 5px
}
